@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');

:root {
    --main-color: white;
    --secondary-color: #d60307;
    --third-color: black;
    --fourth-color: #555;
    --fifth-color: #222323;
    scroll-behavior: smooth;
}

main .entire-image {
    padding: 50px;
}

* {
    padding: 0;
    margin: 0;
}

img {
    max-width: 300px;
}

body {
    background-color: var(--main-color);
    max-width: 1920px;
    margin: auto;
}

.header-top {
    background-color: var(--secondary-color);
}

.header-bottom {
    background: rgb(34, 35, 35);
    background: linear-gradient(180deg, rgba(34, 35, 35, 1) 11%, rgba(101, 101, 101, 1) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    overflow: hidden;
}

.logo-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-between;
    padding-left: 50px;
}

header .menu-nav a {
    text-decoration: none;
    color: var(--main-color);
    font-family: "PT Sans", sans-serif;
    font-size: 100%;
    font-weight: 700;
    padding-left: 20px;
}

header .menu-nav {
    list-style-type: none;
}

.icon {
    display: inline-block;
    padding: 0 10px;
}

.logo-responsive {
    display: block;
    max-width: 100%;
}

.banner {
    width: 168px;
    padding-left: 35px;
}

.header-language {
    display: flex;
}

.contact-tag .header-text {
    padding-left: 15px;
}

.header-contact {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.header-text {
    font-weight: bold;
    color: var(--main-color);
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}


/*body*/
.large-item {
    background-image: url('../img/man-with-ball.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
}

.big-picture .large-item {
    background-image: url('../img/run-black-man.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
}

.big-picture .shop-button {
    background: var(--main-color);
    color: var(--third-color);
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
}

.big-picture .shop-button span {
    text-decoration: none;
}

.big-picture .shop-button:hover {
    color: var(--main-color);
}

.entire-image {
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 25px 0 25px;
}

.text-on-large-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.shop-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--main-color);
    font-size: 16px;
    width: 160px;
    height: 60px;
    background-color: var(--secondary-color);
}

.shop-button:hover {
    background-color: var(--fifth-color);
}

.upper-text-content {
    font-size: 3vw;
    font-family: 'Bebas Neue', cursive;
    color: rgba(34, 35, 35, 0.46);
}

.text-content {
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 10vw;
    line-height: 1.0;
    margin-bottom: 50px;
}

.header-bottom {
    height: 6vh;
}

.big-picture .upper-text-content {
    color: rgba(255, 255, 255, 0.62);
}

.big-picture .text-content {
    color: var(--main-color);
}

.big-picture
.text-content2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 66px;
    color: white;
}

.upper-text-content a {
    color: black;
}

.brand-color {
    color: var(--secondary-color);
}

.large-item2 .shop-button {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.large-item2 .shop-button a:hover {
    background-color: #555;
}

.large-item2 .shop-button a:active {
    background-color: black;
}

.mid-season-text {
    font-family: "PT Sans", sans-serif;
    font-size: 25px;
    vertical-align: middle;
    display: inline-block;
    color: #717474;
}

.proposition {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.proposition .text-content {
    font-size: 6vh;
    margin-bottom: 4vh;
    padding-left: 1vh;
}

.proposition .upper-text-content {
    font-size: 2vh;
    padding: 4vh 1vh 5vh;
}

.proposition .upper-text-content a {
    text-decoration: none;
}

.proposition .upper-text-content a:hover {
    text-decoration: underline;
}

.image-prop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 22.5%;
    height: 374px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 120px;
}

.red-line {
    width: 8vw;
    height: 1%;
    background: var(--secondary-color);
    margin-left: 1vh;
}

.image-prop:first-child {
    background-image: url("../img/man-with-sneakers.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 47.5%;
}

.image-prop:nth-child(2) {
    background-image: url("../img/sneakers.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.image-prop:last-child {
    background-image: url("../img/undershirt.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.secondary-color {
    color: black;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

.large-item2 .upper-text-content {
    color: rgba(255, 255, 255, 0.62);
}


.mid-season-sale {
    padding-top: 100px;
    padding-left: 20px;
}

.mid-season-header .text-content {
    text-align: center;

}

.item-img {
    width: 250px;
}

.season-item {
    padding: 15px;
    width: 260px;
    text-align: center;
    justify-content: space-around;
}

.season-item .menu-nav {
    color: #717474;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
}

.season-item .menu-nav:hover {
    border-bottom: 2px solid #b8baba;
    padding: 0;
    list-style-type: none;
}

.season-item .menu-price {
    display: inline-flex;
    padding: 20px;
    color: #f40106;
    font-size: 18px;
}

.add-to-cart {
    padding: 0;
    margin: 0;
    display: inline-block;
    justify-content: center;
}

.add-to-cart a {
    padding: 20px;
    width: 100px;
    height: 20px;
}


.season-item .add-to-cart {
    display: inline-flex;
    background-color: #222323;
    font-size: 15px;
    font-family: "PT Sans", sans-serif;
    position: relative;
}

.season-item .add-to-cart:hover {
    background: red;
}

.item-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.discount {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.discount-img {
    resize: both;
    background-size: 30vw calc(30vw * 756 / 1200);
    height: calc(30vw * 756 / 1200);
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.red-shirt {
    background-image: url("../img/red-shirt.png");
}

.gray-jacket {
    background-image: url("../img/gray-jacket.jpg");
}

.green-sneakers {
    background-image: url("../img/green-sneakers.jpg");
}

.black-block h2 {
    padding-bottom: 5%;
    font-size: 150%;
    color: #ffffff;
    font-family: "Bebas Neue", cursive;
}

/*.black-block h2:hover{*/
/*    border-bottom: 2px solid #ffffff;*/
/*}*/


.black-block span div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.block-item {
    font-family: "PT Sans", sans-serif;
    font-size: 100%;
}

/*.black-block h2 span:hover{*/
/*    border-bottom: 2px solid #ffffff;*/
/*}*/

.black-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 90%;
    height: 35%;
    top: 50%;
    background: rgba(34, 35, 35, 0.89);
    /*font-family: "Bebas Neue",;*/
}

.footer-background {
    background: rgb(34, 35, 35);
    background: linear-gradient(0deg, rgba(34, 35, 35, 1) 11%, rgba(101, 101, 101, 1) 100%);
}

.footer-bottom {
    background: #222323;
}

@media screen and (max-width: 980px) {
    .header-contact {
        display: none;
    }

    header .menu {
        display: none;
    }

    header .header-icon {
        display: none;
    }

    .large-item {
        padding: 100px 0;
    }

    .big-picture .large-item {
        padding: 100px 0;
    }

    .text-content {
        font-size: 8vh;
    }

    .big-picture .text-content {
        font-size: 8vh;
    }

    .upper-text-content {
        font-size: 3vh;
    }

    .big-picture .upper-text-content {
        font-size: 3vh;
    }

    .proposition {
        flex-direction: column;
    }
    .image-prop{
        width: 85%;
        margin-bottom: 30px;
    }

    .image-prop:first-child{
        width: 85%;
    }
    .image-prop:last-child{
        margin-bottom: 0;
    }

}

@media screen and (max-width: 800px) {
    .text-content {
        font-size: 6vh;
    }

    .upper-text-content {
        font-size: 2vh;
    }

    .big-picture .text-content {
        font-size: 6vh;
    }

    .big-picture .upper-text-content {
        font-size: 2vh;
    }
}

@media screen and (max-width: 640px) {
    .large-item {
        padding: 75px 0;
    }

    .big-picture .large-item {
        padding: 75px 0;
    }
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}